<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"      
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

   <h:head>Cadastro de Clientes</h:head>
   
   <h:body>
   	<h:form>
   		<table>
   			<tr>
   				<td><h:outputText value="Nome: "/></td>
	   			<td colspan="2"><h:inputText value="#{cadastroCliente.clienteVO.nome}"/></td>
   			</tr>
   				
	   		<tr>
   				<td><h:outputText value="Telefone: "/></td>
	   			<td colspan="2"><h:inputText value="#{cadastroCliente.clienteVO.telefone}"/></td>
	   		</tr>
	   		<tr>
	   			<td><h:outputText value="Data de Nascimento: "/></td>
	   			<td colspan="2"><rich:calendar value="#{cadastroCliente.clienteVO.dataNascimento}" datePattern="dd/MM/yyyy"/></td>
	   		</tr>
	   		<tr>
	   			<td><h:outputText value="CEP: "/></td>
	   			<td><h:inputText value="#{cadastroCliente.clienteVO.cep}" id="cep"/></td>
	   			<td><a4j:commandButton value="Buscar CEP" action="#{cadastroCliente.atualizaCep}" render="cidade, bairro, endereco"/></td>
	   		</tr>
	   		<tr>
	   			<td><h:outputText value="Cidade: "/></td>
	   			<td colspan="2"><h:inputText value="#{cadastroCliente.clienteVO.cidade}" id="cidade"/></td>
	   		</tr>
	   		<tr>
	   			<td><h:outputText value="Bairro: "/></td>
	   			<td colspan="2"><h:inputText value="#{cadastroCliente.clienteVO.bairro}" id="bairro"/></td>
	   		</tr>
	   		<tr>
	   			<td><h:outputText value="Endereco: "/></td>
	   			<td colspan="2"><h:inputText value="#{cadastroCliente.clienteVO.endereco}" id="endereco"/></td>
	   		</tr>
	   			
   		</table>
	   <h:commandButton value="Enviar" action="#{cadastroCliente.cadastrar}" ></h:commandButton>
   	</h:form>
   </h:body>

</html>