<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<title>Lista de Clientes</title>
</h:head>

<f:view>
	<h:body>
	
		<h:form>
			<rich:panel header="Lista de Clientes" id="painel">

				<rich:dataTable id="tabela" var="cliente" value="#{listaCliente.listaClientes}">

					<rich:column>
						<f:facet name="header">
							<h:outputText value="Nome" />
						</f:facet>

						<h:outputText value="#{cliente.nome}" />

					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Telefone" />
						</f:facet>
						<h:outputText value="#{cliente.telefone}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Data de Nascimento" />
						</f:facet>
						<h:outputText value="#{cliente.dataNascimento}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR" timeZone="GMT-3" />
						</h:outputText>
					</rich:column>

					<rich:column>
						<f:facet name="header">
							<h:outputText value="CEP" />
						</f:facet>
						<h:outputText value="#{cliente.cep}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Cidade" />
						</f:facet>
						<h:outputText value="#{cliente.cidade}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Bairro" />
						</f:facet>
						<h:outputText value="#{cliente.bairro}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Endereco" />
						</f:facet>
						<h:outputText value="#{cliente.endereco}" />
					</rich:column>
					

					

				</rich:dataTable>
			</rich:panel>
		</h:form>
	</h:body>
</f:view>

</html>
